body{
    background-color: black;
    margin: 0;
}


#total{     /* # é chamado de tralha ou restag ou jogo da velha */
    width: 980px;
    height: auto;
    margin: auto; /* centraliza a divisão na página*/
}
#topo{     
    width: 980px;   /* comentário em CSS */
    height: 100px;
    background-color: aquamarine;
    float: left;
    margin-bottom: 10px;
}
#banner{     
    width: 980px;   /* largura */
    height: 300px;
    background-color: blue;
    float: left;
}
#conteudo{     
    width: 980px;  
    height: 400px;      /* altura */
    background-color: brown;
    float: left;
}
#lado1{     
    width: 400px;  
    height: 400px;      /* altura */
    background-color: blueviolet;
    float: left;
}
#lado2{     
    width: 400px;  
    height: 400px;      /* altura */
    background-color: cadetblue;
    float: right;/* alinhei essa divisão a direita */
}

#rodape{     
    width: 980px;   
    height: 50px;
    background-color: bisque;   /* cor */
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;  /* alinhou no centro */
}